{% extends "base_all.html" %}
{% load static %}
{% block content %}

<!--サービス説明セクション-->
<section>
	<div class="jumbotron jumbotron-extend">
		<div class="container">
			<div class="row">
				<h1 class="neon">Welcome to Ezo!</h1>
			</div>
			<div class="row">
				<div class="card card-sin-up">
					<div class="card-body">
						<h6 class="card-title">アカウント作成</h6>
						<form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/form.html' %}
							<div class="button_wrapper">
							<button type="submit" class="btn btn-success" style="font-size:0.75em; width:80%;">アカウント作成</button>
							<button class="btn btn-primary" style="font-size:0.75em; width:80%; margin-top:1em;">
								<i class="fab fa-twitter"></i>
								Twitterでログイン</button>
							</div>
						</form>
					</div>
					<div class="card-footer text-muted text-center">
						<a href="{% url 'Accounts:login' %}"><h6>ログイン</h6></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}