{% extends 'base_all.html' %}
{% load humanize %}
{% block content %}

<div class="my-fixed-bottom">
    <a href="{% url 'Board:topic_create' %}" id="fab"><span><i class="fas fa-pencil-alt"></i></span></a>
</div>

<nav class="justify-content-center navbar navbar-expand navbar-dark bg-dark mt-0 mb-3 sub-navbar">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLin1" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fortnite
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" href="#">ALL</a>
                <a class="dropdown-item" href="#">Fortnite</a>
                <a class="dropdown-item" href="#">ApexLegends</a>
                <a class="dropdown-item" href="#">MH:W</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLin2" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                新着順
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <a class="dropdown-item" href="#">新着順</a>
                <a class="dropdown-item" href="#">ビュー数</a>
                <a class="dropdown-item" href="#">返信数</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                今日
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                <a class="dropdown-item" href="#">今日</a>
                <a class="dropdown-item" href="#">1週間</a>
                <a class="dropdown-item" href="#">1カ月</a>
            </div>
        </li>
    </ul>
</nav>

<div class="container">
    {% for topic in topic_list %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-3 col-md-4">
                <a href="{% url 'Board:topic_detail' topic.id%}">
                    <img class="topic_image_thumbnail" src="{{ topic.get_image }}" alt="image">
                </a>
            </div>
            <div class="col-9 col-md-8">
                <div class="card-header">
                    <div class="card-text"><small class="text-muted">
                        <i class="fas fa-eye"></i>{{ topic.views }} view
                        <i class="fas fa-comment-dots"></i>{{ topic.get_reply_count }}
                        <i class="fas fa-clock"></i>{{ topic.last_updated|naturaltime }}
                    </small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="topic-list-userinfo">
                        <span class="card-text mr-2">
                            <img class="topic-list-image_thumbnail" src="{{ topic.starter.get_image_thumbnail }}"
                                 alt="image">
                            {{ topic.starter.username }}
                        </span>
                        <span class="tag">{{topic.game}}</span>
                        {% for tag in topic.get_tags %}
                            <span class="tag">{{tag}}</span>
                        {% endfor %}
                    </div>
                    <p class="card-text topic-list-body mt-1">
                        <a href="{% url 'Board:topic_detail' topic.id%}">
                            {{ topic.formatted_markdown|safe|truncatechars:40}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}