{% extends 'base_all.html' %}
{% block title %}Start a New Topic{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" novalidate>
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.game.label_tag }}
            {{ form.game }}
            <span class="helptext">{{ form.game.help_text }}</span>
            {{ form.game.errors }}
        </div>
        <div class="field">
            {{ form.text_tag }}
        </div>
        <div class="field">
            {{ form.contents }}
            <span class="helptext">{{ form.contents.help_text }}</span>
            {{ form.contents.errors }}
        </div>
        <div class="field">
            <label class="upload-img-btn">
                <i class="fas fa-image"></i>画像を選択{{ form.image }}
            </label>
            <span class="helptext">{{ form.image.help_text }}</span>
            {{ form.image.errors }}
        </div>

        <div class="field">
            <button type="submit" class="btn btn-success">Post</button>
        </div>
        {% csrf_token %}
    </form>
    {% endblock %}
</div>

{% block javascript %}
<script>
    var easyMDE = new EasyMDE({
    autoDownloadFontAwesome: false,
    autosave: {
		enabled: true,
		uniqueId: "MyUniqueID",
		delay: 1000,
	},
	status: false,
	uploadImage: false,
    toolbar: [
        "preview",
        {
            name: "bold",
            action: EasyMDE.toggleBold,
            className: "fas fa-bold",
            title: "太字",
        },{
            name: "italic",
            action: EasyMDE.toggleItalic,
            className: "fas fa-italic",
            title: "斜字",
        },{
            name: "heading",
            action: EasyMDE.toggleHeadingSmaller,
            className: "fas fa-heading",
            title: "見出し",
        },{
            name: "strikethrough",
            action: EasyMDE.toggleStrikethrough,
            className: "fas fa-strikethrough",
            title: "取り消し線",
        },{
            name: "quote",
            action: EasyMDE.toggleBlockquote,
            className: "fas fa-quote-left",
            title: "引用",
        },{
            name: "unordered-list",
            action: EasyMDE.toggleUnorderedList,
            className: "fas fa-list-ul",
            title: "リスト",
        },{
            name: "ordered-list",
            action: EasyMDE.toggleOrderedList,
            className: "fas fa-list-ol",
            title: "番号リスト",
        },{
            name: "table",
            action: EasyMDE.drawTable,
            className: "fas fa-table",
            title: "表",
        },{
            name: "link",
            action: EasyMDE.drawLink,
            className: "fas fa-link",
            title: "リンク",
        }
    ],
});



</script>
{% endblock %}