{% extends 'base_all.html' %}
{% block title %}Start a New Topic{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-2">
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.contents }}
            <span class="helptext">{{ form.contents.help_text }}</span>
            {{ form.contents.errors }}
        </div>
        <!-- 切り替えボタンの設定 data-targetをusernameでネーミングしておかないとモーダル毎でUserを分けれない -->
        <div class="btn-wrapper my-1">
            <button class="btn btn-dot" type="button" data-toggle="modal" data-target="#select-tag">
                <i class="fas fa-tags"></i>タグを選択
            </button>
        </div>

        <div class="btn-wrapper field my-1">
            <label class="btn btn-dot">
                <i class="fas fa-image"></i>画像を挿入{{ form.image }}
            </label>
            <span class="helptext">{{ form.image.help_text }}</span>
            {{ form.image.errors }}
        </div>
        {{ form.media }}

        <div class="field">
            <button type="submit" class="btn btn-success w-100">投稿</button>
        </div>

    </form>

    <img id="image-preview">


    <!-- モーダル -->
    <div class="field mt-3">
        <div class="modal fade" id="select-tag" tabindex="-1" role="dialog" aria-labelledby="label1"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">タグを選択</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="tag-wrapper" role="group" data-toggle="buttons">
                            {% for checkbox in form.tags %}
                            <label class="btn btn-primary w-40">
                                {{ checkbox.tag }} {{ checkbox.choice_label }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</div>

{% block javascript %}
<script>
    var easyMDE = new EasyMDE({
    autoDownloadFontAwesome: false,
    autosave: {
		enabled: true,
		uniqueId: "MyUniqueID",
		delay: 1000,
	},
	status: false,
    toolbar: [
        "preview",
        {
            name: "bold",
            action: EasyMDE.toggleBold,
            className: "fas fa-bold",
            title: "太字",
        },{
            name: "italic",
            action: EasyMDE.toggleItalic,
            className: "fas fa-italic",
            title: "斜字",
        },{
            name: "heading",
            action: EasyMDE.toggleHeadingSmaller,
            className: "fas fa-heading",
            title: "見出し",
        },{
            name: "strikethrough",
            action: EasyMDE.toggleStrikethrough,
            className: "fas fa-strikethrough",
            title: "取り消し線",
        },{
            name: "quote",
            action: EasyMDE.toggleBlockquote,
            className: "fas fa-quote-left",
            title: "引用",
        },{
            name: "unordered-list",
            action: EasyMDE.toggleUnorderedList,
            className: "fas fa-list-ul",
            title: "リスト",
        },{
            name: "ordered-list",
            action: EasyMDE.toggleOrderedList,
            className: "fas fa-list-ol",
            title: "番号リスト",
        },{
            name: "table",
            action: EasyMDE.drawTable,
            className: "fas fa-table",
            title: "表",
        },{
            name: "link",
            action: EasyMDE.drawLink,
            className: "fas fa-link",
            title: "リンク",
        }
    ],
});


</script>
{% endblock %}