{% extends 'base_all.html' %}
{% load humanize %}
{% block content %}

<div class="my-fixed-bottom">
    <a href="{% url 'Board:post_create' topic_instance.id %}" id="fab"><span><i class="fas fa-reply"></i></span></a>
</div>

<div class="container mt-2">
    <div class="card">
        <div class="card-body">
            <div class="card-title mb-0">
                <h5 class="mb-0">
                    <img id="starter" src="{{ user.get_image_thumbnail }}" alt="image">
                    {{ topic_instance.starter.username }}
                    <small class="text-muted ml-3">
                        <i class="fas fa-clock"></i>{{ topic_instance.last_updated }}
                    </small>
                </h5>

            </div>

            <!-- ここでfor文入れる -->
            <div class="tag">Fortnite</div>
            <div class="tag">おもしろ</div>
            <div class="tag">ナイスプレイ</div>
            <div class="tag">ナイスプレイ</div>
            <div class="tag">ナイスプレイ</div>
            <!-- ここでfor文入れる -->

            <p class="card-text my-1">{{ topic_instance.subject }}</p>
        </div>
        <img class="card-img-bottom" src="{{ topic_instance.get_image }}" alt="カードの画像">
        <div class="card-footer">
            <p class="card-text">
                <small class="text-muted">
                    <i class="fas fa-eye"></i>{{ topic_instance.views }}
                    <i class="fas fa-comment-dots"></i>{{ topic_instance.get_reply_count }}
                    <i class="fas fa-share-alt"></i>Share
                </small>
            </p>
        </div>
    </div>

    {% for post in post_list %}
    <div class="card post my-2">
        <div class="card-body">
            <div class="card-title mb-0">
                <a href="{% url 'Accounts:user_detail' user.pk %}">
                    <img src="{{ post.posted_by.get_image_thumbnail }}" alt="image">
                    {{ post.posted_by.username }}

                </a>
                <small class="text-muted ml-2">{{ post.posted_at }}</small>
            </div>
            <p class="mx-3">{{ post.message }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mb-4">
    <a href="{% url 'Board:post_create' topic_instance.id %}" class="btn btn-primary">書き込む</a>
</div>

{% endblock %}