{% extends 'base_all.html' %}
{% load humanize %}
{% block content %}

<div class="my-fixed-bottom">
    <a href="{% url 'Board:topic_create' %}" id="fab"><span><i class="fas fa-pencil-alt"></i></span></a>
</div>

<div class="container">
    <form method="POST">
        <div class="row py-2" style="background-color:#777777;">
            {% csrf_token %}
            <div class="col-4 px-2 align-self-center border-group">
                <div class="selectdiv">
                    {{ search_form.game }}
                </div>
            </div>
            <div class="col-5 px-2 align-self-center border-group">
                <div class="selectdiv">
                    {{ search_form.order }}
                </div>
            </div>
            <div class="col-3 px-2 align-self-center border-group">
                <div class="selectdiv">
                    {{ search_form.date }}
                </div>
            </div>
        </div>
<!--        <input class="btn btn-success offset-md-8 col-md-3" type="submit" id="button" name="button" value="検索">-->

    </form>

    {% for topic in topic_list %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-3 col-md-4">
                <a href="{% url 'Board:topic_detail' topic.id%}">
                    <img class="topic_image_thumbnail" src="{{ topic.get_image }}" alt="image">
                </a>
            </div>
            <div class="col-9 col-md-8">
                <div class="card-header">
                    <div class="card-text"><small class="text-muted">
                        <i class="fas fa-eye"></i>{{ topic.views }} view
                        <i class="fas fa-comment-dots"></i>{{ topic.get_reply_count }}
                        <i class="fas fa-clock"></i>{{ topic.last_updated|naturaltime }}
                    </small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="topic-list-userinfo">
                        <span class="card-text mr-2">
                            <img class="topic-list-image_thumbnail" src="{{ topic.starter.get_image_thumbnail }}"
                                 alt="image">
                            {{ topic.starter.username }}
                        </span>
                        <span class="tag">{{topic.game}}</span>
                        {% for tag in topic.get_tags %}
                        <span class="tag">{{tag}}</span>
                        {% endfor %}
                    </div>
                    <p class="card-text topic-list-body mt-1">
                        <a href="{% url 'Board:topic_detail' topic.id%}">
                            {{ topic.formatted_markdown|safe|truncatechars:40}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}